@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Roboto+Slab:wght@500&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Rubik+Bubbles&display=swap');


body {
    background-image:url(https://cdn.discordapp.com/attachments/977216444465045505/1188811582172569652/bg1.gif?ex=659be210&is=65896d10&hm=2d9fb696fa1a1d8d17b5546506fd09740ca90815f2f55c3905d0352a031230be&);
    background-size: cover;
}

.box{
    width: 150px;
    height: 200px;
    overflow:scroll;
}
